body {
  background-color: #334756;
  font-family: "Montserrat", sans-serif;
}

.add-book {
  background-color: #00af91;
  border: 3px solid #007965;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  height: 90px;

  margin-left: 40.5%;
  width: 220px;
}

.add-book:hover {
  background-color: #ffcc29;
  border: 3px solid #f58634;
}

.title {
  font-size: 70px;
  margin-top: 30px;
  margin-bottom: 55px;
  text-align: center;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #2c394b;
  height: 78%;
  margin: 3% auto;
  padding-left: 30px;
  border: 3px solid #082032;
  width: 20%;
}

/* Submit Button */
#submit {
  background-color: #055052;
  border: 3px solid #003638;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  height: 50px;
  margin-bottom: 10px;
  margin-top: 40px;

  margin-left: 22%;
  width: 120px;
}
#submit:hover {
  background-color: #3e7c17;
  border: 3px solid #125c13;
}

.desc {
  font-size: 28px;
}

.input {
  font-size: 20px;
}

#readBook {
  height: 20px;
  margin-top: 25px;
  width: 20px;
}

.checkRead {
  height: 28px;
  width: 28px;
}

.table-book {
  background-color: #ffcc29;
  border-collapse: collapse;
  border: 3px solid #f58634;
  margin-bottom: 50px;
  margin-left: 16%;
  margin-top: 70px;
}

tr,
td {
  border-collapse: collapse;

  border-bottom: 1px solid black;
  color: #082032;
  font-size: 19px;
  padding-left: 54px;

  padding-top: 17px;
  padding-bottom: 17px;
  padding-right: 54px;
}
th {
  color: black;
  font-size: 22px;
  padding-left: 54px;
  padding-top: 17px;
  padding-bottom: 17px;
  padding-right: 54px;
  border-top: 1px solid black;
}
.close {
  font-size: 21px;
  margin-top: 10px;
  margin-left: 90%;
}

.delete {
  background-color: red;
  border: 2px solid black;
  border-radius: 100%;
  height: 32px;
  width: 32px;
  font-family: "Montserrat", sans-serif;
}
